<label
  for="DependentNo"
  class="block text-sm font-medium leading-6 text-gray-900 mt-4"
  >{{ label }}</label
>
<div class="mt-2">
  <div class="relative mt-2 rounded-md shadow-sm">
    <input
      aria-label="text"
      type="{{ type }}"
      [attr.aria-invalid]="control.invalid ? 'true' : 'false'"
      [attr.aria-describedby]="control.invalid ? 'error' : null"
      [formControl]="control"
      placeholder="{{placeholder}}"
      class="block w-full rounded-md ring-gray-200 border-0 py-1.5 pr-10 px-2 ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
      aria-invalid="true"
      aria-describedby="email-error"
    />
    <ng-container *ngIf="control.errors?.['required'] && control.touched">
    <div
      class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3"
    >
      <svg
        class="h-5 w-5 text-red-500"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </ng-container>
  </div>
  <ng-container *ngIf="control.touched">
    <p *ngIf="control.errors?.['required']" class="mt-2 text-sm text-red-600" id="email-error-required">
      {{label}} is a required field
    </p>
    <p *ngIf="!control.errors?.['required'] && control.errors?.['email']" class="mt-2 text-sm text-red-600" id="email-error-invalid">
      {{label}} is in an invalid format
    </p>
    <p *ngIf="!control.errors?.['required'] && control.errors?.['minlength']" class="mt-2 text-sm text-red-600" id="minlength-error">
      {{label}} must be at least {{control.errors?.['minlength'].requiredLength}} characters long
    </p>
    <p *ngIf="!control.errors?.['required'] && control.errors?.['maxlength']" class="mt-2 text-sm text-red-600" id="maxlength-error">
      {{label}} cannot be more than {{control.errors?.['maxlength'].requiredLength}} characters long
    </p>
    <p *ngIf="!control.errors?.['required'] && control.errors?.['pattern']" class="mt-2 text-sm text-red-600" id="pattern-error">
      {{label}} must contain only numbers
    </p>
    <p *ngIf="!control.errors?.['required'] && control.errors?.['dateInvalid']" class="mt-2 text-sm text-red-600" id="date-invalid-error">
      {{ label }} must be in the format dd-mm-yyyy
    </p>
  </ng-container>
</div>


